<h1>Select Main Character</h1>

<form action="/selectmain?keyId=<%= keyId %>" method="post">
	<% for(characterID in response.characters) { %>
		<input type="radio" name="mainCharacter" value="<%= response.characters[characterID].name %>"><%= response.characters[characterID].name %><br />
	<% } %>
	<input type="submit" class="btn btn-primary">
</form>