<h1>Admin Desk</h1>

<% keys.forEach(function(key) { %>
	<p><% if(key.mainCharacter){ %><strong>Owner: </strong><%= key.mainCharacter %><% } else { %><strong>Owner: </strong><%= "User has not selected a main character." %><% } %></p>
	<p><strong>KeyID: </strong><%= key.keyId %></p>
	<p><strong>vCode: </strong><%= key.vCode %></p>
	<hr />
<% }); %>