<!DOCTYPE html>
<html>
  <head>
    <title>Fapsuleers Core</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
	 <nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="/">Core</a>
		  </div>
		  <ul class="nav navbar-nav">
		  	<li><a href="/addkey">Add API Key</a></li>
		  	<li><a href="/selectmain">Select Main</a></li>
		  	<li><a href="/admin">Admin</a></li>
		  	<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="http://fapsuleers.com/board">Forum</a></li>
	            <li><a href="http://fapsuleers.com/kb">Killboard</a></li>
	          </ul>
	        </li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
		  	<li><a href="/logout">Logout</a></li>
		  </ul>
		</div>
	  </nav>
  	<div class="container">
    	<%- body %>
    </div>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
