<h3>Add an API Key!</h3>

<div id="addKeyForm">
	<form action="/addkey" method="post">
		<div class="input-group">
			<input type="text" name="keyId" placeholder="keyId" class="form-control">
			<input type="text" name="vCode" placeholder="vCode" class="form-control">
			<input type="submit" class="btn btn-primary">
		</div>
	</form>
</div>