<div class="jumbotron">
	<h1 class="text-center">Fapsuleers Core</h1>
<div style="margin: 0 auto; width: 150px;">
		<a href="/login" class="btn btn-primary center-block" style="margin-bottom: 10px;">Login</a>
  		<a href="/register" class="btn btn-warning center-block">Register</a>
</div>
</div>